.HomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .Title {
    text-align: center;

    .ReactLogo {
      width: 58px;
      height: 58px;
      animation: ReactLogoSpin infinite 20s linear;
      pointer-events: none;
    }

    h1 {
      font-weight: 100;

      em {
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.05rem;
      }
    }
  }

  .Links {
    ul,
    ol {
      margin: 0;
      padding: 1rem;
    }
  }
}

@keyframes ReactLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
